/*
!.gitignore
!wp-content/
wp-content/uploads
wp-content/languages
wp-content/ai1wm-backups
wp-content/themes/neve
wp-content/themes/neve-child-theme
#macOSFiles
.DS_Store
Thumb.db
.cache
wp-content/themes/astra/package-lock.json